<h1>Hola {{ nombre() | elipsis:15 | uppercase}}</h1>
<!-- <app-notification /> -->
<div class="container theme-dark">
  <div class="row">
    <div class="col">
      <calculadora [SeparadorDecimal]="','" (updated)="ponResultado('IZQ', $event)" />
    </div>
    <table class="col table table-striped">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Calc</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">Idioma: <select [(ngModel)]="idioma">
              @for (i of idiomas(); track i.codigo) {
                <option [value]="i.codigo">{{i.region}}</option>
              }
            </select>
          </td>
        </tr>
      </tfoot>
      <tbody>
        @for (r of calculos() | slice:-10; track r) {
          <tr>
            <td class="text-right">{{r.pos}}</td>
            <td>{{r.origen}}</td>
            <td class="text-right">{{r.valor | number:'1.0-8':idioma() }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="col">
      <calculadora [init]="valCalculadora()" (updated)="ponResultado('DER', $event)"></calculadora>
    </div>
  </div>
  <div class="row">
    <input type="number" [(ngModel)]="valCalculadora">
  </div>
</div>
<p>
  <input type="text" [(ngModel)]="nombre" />
  <input type="button" value="saluda" (click)="saluda()" />
  <input type="button" value="despide" (click)="despide()" />
  <button type="button" (click)="di('algo')">Di algo</button>
  <button type="button" (click)="cambia()" [textContent]="'cambia'"></button>

  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" />
  <input
    type="button"
    value="Warn"
    (click)="vm.add('Esta notificación es un aviso', vm.NotificationType.warn)"
  />
  <input
    type="button"
    value="Info"
    (click)="vm.add('Solo una notificación informativa', vm.NotificationType.info)"
  />
  <input
    type="button"
    value="Log"
    (click)="vm.add('Para trazar con notificaciones', vm.NotificationType.log)"
  />
</p>

<p [textContent]="resultado()">Esto se pierde</p>
<p [innerHTML]="resultado()">Esto se pierde</p>

<p [hidden]="!visible()">Ahora me ves</p>
@if (visible()) {
  <p>Ahora existo</p>
}

<p [class]="estetica()">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos odit obcaecati libero
  voluptatibus vitae magni! Eius provident hic, assumenda soluta iusto fugiat, tempora quos
  voluptates eos, saepe sint pariatur?
</p>
<p [class.semi-visible]="!visible()">Ahora me ves bien</p>

<p>Fecha: {{ Fecha | date:'dd/MMM/yyyy'}} <input type="date" [(ngModel)]="Fecha" ></p>



<p>Calcula: 2 + 2 = {{ (2 + 2) | number:'4.2-2'}} = {{ calculo(2, 2) | currency:'EUR':'symbol':'1.2-2' }}</p>

<ul>
  @for (item of listado() | slice:-5; track item.id) {
    <li [style.background-color]="$odd ? 'lightskyblue' : 'lightcyan'">
      {{ item.nombre | titlecase }} ({{ item.id }}) [Elemento {{ $index + 1 }} de {{ $count }}]
    </li>
  } @empty {
    <li>No hay provincias que mostrar</li>
  }
</ul>
<p><b>Total:</b> {{ total() }}</p>

<p>
  <select [(ngModel)]="idProvincia">
    <option value="">--Elige opción--</option>
    @for (p of listado(); track p.id) {
      <option [value]="p.id">{{ p.nombre | capitalize}}</option>
    }
  </select>
  Seleccionado: {{idProvincia()}}
  <input type="text" value="Tabarnia" #txtProvincia/>
  <input type="button" value="add" (click)="add(txtProvincia.value)" />
</p>

<my-sizer [(size)]="fontSize">Esto no se ve</my-sizer>
<app-card [header]="'Depuracion ' + fontSize()">
<p [style.font-size.px]="fontSize()">
  {{listado() | json}}
</p>
</app-card>

<app-form-buttons (send)="saluda()" (cancel)="saluda()"/>

<!-- <app-grafico-svg /> -->
